<div class="container">
  <div class="header">
    <p class="d-inline-flex gap-1">
      <a href="/core/routes" class="btn" role="button" aria-label="Agregar uno nuevo, acción protegida con candado">
        Agregar uno nuevo <i class="bi bi-lock"></i>
      </a>
    </p>
    <div class="search-container">
      <input type="text" class="form-control" placeholder="Buscar en la lista" aria-label="Campo de búsqueda en la lista de rutas"/>
      <i class="bi bi-search"></i>
    </div>
  </div>

  <h2 class="title">Lista de Rutas</h2>

  <div class="row">
    <!-- Primera ruta -->
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Nombre de la ruta:</h5>
          <p class="card-text">Ruta del Bellavista</p>

          <h5 class="card-title">Ubicación de la ruta:</h5>
          <p class="card-text">Centro Histórico</p>

          <h5 class="card-title">Nombre del transporte de la ruta:</h5>
          <p class="card-text">Bus Tipo Bellavista</p>

          <div class="buttons">
            <a href="/core/routes" class="btn btn-sm btn-success animated-button">Editar</a>
            <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
          </div>
          <p class="button-mensaje">
            <a href="/core/personalized-message" class="btn btn-transparent">Agregar Mensaje Personalizado</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Segunda ruta -->
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Nombre de la ruta:</h5>
          <p class="card-text">Ruta del alimentador del recreo a solanda</p>

          <h5 class="card-title">Ubicación de la ruta:</h5>
          <p class="card-text">El Recreo</p>

          <h5 class="card-title">Nombre del transporte de la ruta:</h5>
          <p class="card-text">Juan Pablo II</p>

          <div class="buttons">
            <a href="/core/routes" class="btn btn-sm btn-success animated-button">Editar</a>
            <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
          </div>
          <p class="button-mensaje">
            <a href="/core/personalized-message" class="btn btn-transparent">Agregar Mensaje Personalizado</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Tercera ruta -->
    <div class="col-md-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Nombre de la ruta:</h5>
          <p class="card-text">Estación de Carapungo - El Labrador</p>

          <h5 class="card-title">Ubicación de la ruta:</h5>
          <p class="card-text">AV. Simón Bolívar, pasa por Calderón y San Carlos</p>

          <h5 class="card-title">Nombre del transporte de la ruta:</h5>
          <p class="card-text">Autobús: A102, B205 y Metro: LÍNEA 3</p>

          <div class="buttons">
            <a href="/core/routes" class="btn btn-sm btn-success animated-button">Editar</a>
            <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            <!-- Botón Agregar Mensaje Personalizado -->
          </div>
          <p class="button-mensaje">
            <a href="/core/personalized-message" class="btn btn-transparent">Agregar Mensaje Personalizado</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación más abajo -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>