<div class="container">
  <div class="header">
    <p class="d-inline-flex gap-1">
      <a href="/core/routes" class="btn" role="button" aria-label="Agregar uno nuevo, acción protegida con candado">
        Agregar uno nuevo <i class="bi bi-lock"></i>
      </a>
    </p>
    <div class="search-container">
      <input type="text" class="form-control" placeholder="Buscar en la lista" />
      <i class="bi bi-search"></i>
    </div>
  </div>

  <h2 class="title">Lista de Rutas</h2>
  <br>
  <div class="row">
    <div *ngFor="let route of routes" class="col-md-4">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">Nombre de la ruta:</h5>
          <p class="card-text">{{ route.name }}</p>

          <h5 class="card-title">Ubicación de la ruta:</h5>
          <p class="card-text">{{ route.location }}</p>

          <h5 class="card-title">Nombre del transporte de la ruta:</h5>
          <p class="card-text">{{ route.transportName }}</p>

          <h5 class="card-title">Coordenadas de la ruta:</h5>
          <p class="card-text">
            <span *ngIf="route.coordinates && route.coordinates.length > 0">
              Latitud: {{ route.coordinates[0].lat }}, Longitud: {{ route.coordinates[0].lng }}
            </span>
            <span *ngIf="!route.coordinates || route.coordinates.length === 0">
              No hay coordenadas disponibles.
            </span>
          </p>

          <div class="buttons">
            <a href="/core/routes" class="btn btn-sm btn-success animated-button">Editar</a>
            <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
          </div>
          <div class="button-mensaje">
            <a href="/core/personalized-message" class="btn btn-transparent">Agregar Mensaje Personalizado</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
