<div class="container">
    <div class="header">
      <p class="d-inline-flex gap-1">
        <a href="/core/personalized-message" class="btn" role="button" data-bs-toggle="button">Agregar uno nuevo <i class="bi bi-lock"></i></a>
      </p>
      <div class="search-container">
        <input type="text" class="form-control" placeholder="Buscar en la lista" />
        <i class="bi bi-search"></i>
      </div>
    </div>
  
    <h2 class="title">Lista de Mensajes Personalizados</h2>
  
    <div class="row">
      <!-- Primera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Mensaje:</h5>
            <p class="card-text">A tu derecha se encuentra la iglesia de San Francisco</p>
  
            <h5 class="card-title">Estado:</h5>
            <p class="card-text">Activo</p>
  
  
            <div class="buttons">
              <a href="/core/personalized-message" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Segunda ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Mensaje:</h5>
            <p class="card-text">Tienes el centro comercial el Recreo al tu lado derecho</p>
  
            <h5 class="card-title">Estado:</h5>
            <p class="card-text">Activo</p>
  
  
            <div class="buttons">
              <a href="/core/personalized-message" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
            
          </div>
        </div>
      </div>
  
      <!-- Tercera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Mensaje:</h5>
            <p class="card-text">Estás en la parada del metro Labrador</p>
  
            <h5 class="card-title">Estado:</h5>
            <p class="card-text">Activo</p>
  
  
            <div class="buttons">
              <a href="/core/personalized-message" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
              <!-- Botón Agregar Mensaje Personalizado -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Paginación más abajo -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  