<div class="container">
    <div class="header">
      <p class="d-inline-flex gap-1">
        <a href="/core/tourist-registration" class="btn" role="button" aria-label="Agregar uno nuevo, acción protegida con candado">
          Agregar uno nuevo <i class="bi bi-lock"></i>
        </a>
      </p>
      <div class="search-container">
        <input type="text" class="form-control" placeholder="Buscar en la lista" />
        <i class="bi bi-search"></i>
      </div>
    </div>
  
    <h2 class="title">Lista de Registro Turístico</h2>
  
    <div class="row">
      <!-- Primera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Lugar del Destino:</h5>
            <p class="card-text">San Francisco</p>
  
            <h5 class="card-title">Nombre:</h5>
            <p class="card-text">Centro Histórico</p>
  
            <h5 class="card-title">Descripción:</h5>
            <p class="card-text">EL convento, la iglesia de San Francisco Y estación del metro</p>
            
            <h5 class="card-title">Ubicación:</h5>
            <p class="card-text">
            <img src="assets/images/Captura.PNG" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>

  
            <div class="buttons">
              <a href="/core/tourist-registration" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Segunda ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Lugar del Destino:</h5>
            <p class="card-text">Centro comercial el Recreo</p>
  
            <h5 class="card-title">Nombre:</h5>
            <p class="card-text">El Recreo</p>
  
            <h5 class="card-title">Descripción:</h5>
            <p class="card-text">Estación el Recreo</p>

            <h5 class="card-title">Ubicación:</h5>
            <p class="card-text">
            <img src="assets/images/recreo.PNG" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>
  
  
            <div class="buttons">
              <a href="/core/tourist-registration" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tercera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Lugar del Destino:</h5>
            <p class="card-text">Estación El Labrador</p>
  
            <h5 class="card-title">Nombre:</h5>
            <p class="card-text">El Labrador</p>
  
            <h5 class="card-title">Descripción:</h5>
            <p class="card-text">Cerca de la parada del metro</p>

            <h5 class="card-title">Ubicación:</h5>
            <p class="card-text">
            <img src="assets/images/labrador.PNG" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>
  
  
            <div class="buttons">
              <a href="/core/tourist-registration" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
              <!-- Botón Agregar Mensaje Personalizado -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Paginación más abajo -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  