.profile-img {
  width: 120px; /* Cambia dinámicamente en móviles */
  height: 120px;
  border: 4px solid #01072b;
  object-fit: cover;
  margin-top: 40px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Botón */
.btn-gradient {
  background: linear-gradient(to right, #010429, #030029);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centra automáticamente */
}

.btn-gradient:hover {
  background: linear-gradient(to right, #031c4b, #5c93e6);
}

/* Icono dentro del botón */
.btn-icon {
  font-size: 20px;
  margin-right: 8px;
}

/* Fondo de tarjetas */
.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
}

.list-group-item {
  border: none;
  font-size: 16px;
  position: relative; /* Necesario para el separador */
  padding-bottom: 20px; /* Espacio para la línea */
}

.list-group-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px; /* Grosor de la línea */
  background-color: #ffffff; /* Color de la línea */
}

.list-group-item:last-child::after {
  display: none; /* Quita la línea después del último elemento */
}

.list-group-item.bg-primary {
  font-weight: bold;
  background-color: #115bcb;
  color: #fff;
}

.list-group-item.custom-bg-dark {
  background-color: #010a16; /* Azul más oscuro */
  color: #ffffff; /* Blanco para texto legible */
  border: none; /* Opcional: elimina bordes si no se ajustan al diseño */
}

.list-group-item.custom-bg-dark strong {
  color: #bbdefb; /* Azul claro para destacar títulos */
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
  .profile-img {
    width: 100px;
    height: 100px;
  }

  .btn-gradient {
    font-size: 14px;
    padding: 8px 16px;
  }
}
