/* Imagen de perfil */
.profile-img {
  width: 120px; /* Cambia dinámicamente en móviles */
  height: 120px;
  border: 4px solid #01072b;
  object-fit: cover;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Botón */
.btn-gradient {
  background: linear-gradient(to right, #010429, #13003f);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centra automáticamente */
}

.btn-gradient:hover {
  background: linear-gradient(to right, #bcd5ff, #d8c4ee);
}

/* Icono dentro del botón */
.btn-icon {
  font-size: 20px;
  margin-right: 8px;
}

/* Fondo de tarjetas */
.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
}

.list-group-item {
  border: none;
  font-size: 16px;
}

.list-group-item.bg-primary {
  font-weight: bold;
  background-color: #6a11cb;
  color: #fff;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
  .profile-img {
    width: 100px;
    height: 100px;
  }

  .btn-gradient {
    font-size: 14px;
    padding: 8px 16px;
  }
}
