<div class="container">
    <div class="header">
      <p class="d-inline-flex gap-1">
        <a href="/auth/register" class="btn" role="button" aria-label="Agregar uno nuevo, acción protegida con candado">
          Agregar uno nuevo <i class="bi bi-lock"></i>
        </a>
      </p>
      <div class="search-container">
        <input type="text" class="form-control" placeholder="Buscar en la lista" />
        <i class="bi bi-search"></i>
      </div>
    </div>
  
    <h2 class="title">Lista de Usuarios</h2>
  
    <div class="row">
      <!-- Primera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Foto de perfil:</h5>
            <p class="card-text">
            <img src="assets/images/descarga (1).jpeg" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>
  
            <h5 class="card-title">Nombres:</h5>
            <p class="card-text">Gonzalo Estevan</p>
  
            <h5 class="card-title">Apellidos:</h5>
            <p class="card-text">Ramos Peréz</p>

            <h5 class="card-title">Correo Electrónico:</h5>
            <p class="card-text">gonzalo21gmail.com</p>

            <h5 class="card-title">Teléfono:</h5>
            <p class="card-text">0979629719</p>

            <h5 class="card-title">Fecha de Nacimiento:</h5>
            <p class="card-text">1999-05-26</p>
  
            <div class="buttons">
              <a href="/auth/admin-profile" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Segunda ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Foto de perfil:</h5>
            <p class="card-text">
            <img src="assets/images/descarga (1).jpeg" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>
                
            <h5 class="card-title">Nombres:</h5>
            <p class="card-text">Gonzalo Estevan</p>
  
            <h5 class="card-title">Apellidos:</h5>
            <p class="card-text">Ramos Peréz</p>

            <h5 class="card-title">Correo Electrónico:</h5>
            <p class="card-text">gonzalo21gmail.com</p>

            <h5 class="card-title">Teléfono:</h5>
            <p class="card-text">0979629719</p>

            <h5 class="card-title">Fecha de Nacimiento:</h5>
            <p class="card-text">1999-05-26</p>

            <div class="buttons">
              <a href="/auth/admin-profile" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tercera ruta -->
      <div class="col-md-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Foto de perfil:</h5>
            <p class="card-text">
            <img src="assets/images/descarga (1).jpeg" alt="Bus Tipo Bellavista" class="img-fluid" />
            </p>
  
            <h5 class="card-title">Nombres:</h5>
            <p class="card-text">Gonzalo Estevan</p>
  
            <h5 class="card-title">Apellidos:</h5>
            <p class="card-text">Ramos Peréz</p>

            <h5 class="card-title">Correo Electrónico:</h5>
            <p class="card-text">gonzalo21gmail.com</p>

            <h5 class="card-title">Teléfono:</h5>
            <p class="card-text">0979629719</p>

            <h5 class="card-title">Fecha de Nacimiento:</h5>
            <p class="card-text">1999-05-26</p>
  
            <div class="buttons">
              <a href="/auth/admin-profile" class="btn btn-sm btn-success animated-button">Editar</a>
              <a href="#" class="btn btn-sm btn-danger animated-button">Eliminar</a>
              <!-- Botón Agregar Mensaje Personalizado -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Paginación más abajo -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  