
.custom-map-height {
    height: 500px; 
    object-fit: cover; 
  }

.card {
    border-radius: 10px;
  }
  
  .card-header {
    background-color:  #0D141A;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    color: #dbdbdb;
  }

  .input-group {
    border-radius: 10px;
  }.container {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    background-color: #edf2f7;
    border-radius: 10px;
    margin: 50px auto 50px auto; /* Reduce el margen inferior */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    position: relative;
    width: 250px;
  }
  
  .search-container input {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  .search-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .title {
    text-align: center;
    background: #0D141A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    
  }
  
  .custom-card {
    background: #0D141A;
    color: white;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card-body h5 {
    font-weight: bold;
    font-size: 16px;
  }
  
  .card-body p {
    font-size: 14px;
  }
  
  /* Estilo para los botones dentro de la tarjeta */
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-direction: row; /* Alinea los botones horizontalmente */
    align-items: center; /* Alinea los botones al centro verticalmente */
  }
  .button-mensaje{
    margin-top: 20px;
    flex-direction: column;
  }
  
  
  .buttons .btn {
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  /* Botón largo */
 
  .buttons .btn-primary {
    background-color: #0D141A;
    border-color: #0D141A;
    color: white;
  }
  
  
  .buttons .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }
  
  .buttons .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: white;
  }
  
  .buttons .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
  }
  
  .buttons .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: white;
  }
  
  /* Asegúrate que las tarjetas tengan suficiente espacio y estén centradas */
  .card-body {
    padding: 15px;
    text-align: left;
  }
  
  .card {
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .animated-button {
    transition: all 0.3s ease;
  }
  
  .animated-button:hover {
    transform: scale(1.1); /* Hace que el botón se agrande al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para resaltar el efecto */
  }
  
  .btn-sm {
    font-size: 12px; /* Tamaño más pequeño de fuente */
    padding: 5px 10px; /* Tamaño reducido de los botones */
  }
  
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px; 
  }
  .pagination .page-item .page-link {
    color: white; /* Cambia el color del texto de los números */
    background-color: #0D141A; /* Cambia el color de fondo de los números (azul) */
    border-color: #ffffff; /* Cambia el color del borde (azul) */
  }
  
  .pagination .page-item.active .page-link {
    background-color: #0056b3; /* Cambia el fondo cuando el número está activo */
    border-color: #0056b3; /* Cambia el borde cuando el número está activo */
  }
  
  .pagination .page-item:hover .page-link {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre los números */
    border-color: #0056b3; /* Cambia el borde al pasar el ratón sobre los números */
  }
  
  
  
  .input-group-text {
    background-color: #dbdbdb;
  }
  
  
  button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .container-fluid {
    padding: 15px;
  }
  .custom-map-height {
    height: 500px; 
    object-fit: cover; 
  }
  /* Animación para los inputs */
/* Estilo base para los inputs */
.form-control {
    transition: all 0.3s ease-in-out;
    border: 2px solid #ced4da; /* Color base del borde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  /* Cuando el input está en foco */
  .form-control:focus {
    box-shadow: 2 1 10px rgba(0, 123, 255, 0.5); 
    border-color: #003a79; 
    transform: scale(1.02); 
    outline: none; 
  }
  
  /* Cuando el mouse pasa por encima */
  .form-control:hover {
    border-color: #1f7fe6; 
    transform: scale(1.01); 
  }
  
  /* Responsive: ajustes para pantallas pequeñas si es necesario */
  @media (max-width: 768px) {
    .form-control {
      margin-bottom: 10px; 
    }
  }
  
  /* Animación para la imagen */
  .custom-map-height {
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .custom-map-height:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
  }
  
  
  @media (max-width: 768px) {
    .col-lg-7,
    .col-lg-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .img-fluid {
      margin-top: 20px;
    }
  }
  